body {
    background-image: url(/home/hoanh/Pictures/1.jpeg);
    background-repeat: repeat-x;
    background-position: right top;
    background-size: cover;
}

style {
    text-align: center;
}

img {
    filter: saturate(0.8);
}

p {
    margin: 25px 50px 50px;
}